body {
    font-family:lato,sans-serif;
    font-size:15px;
    color:#291F1A;
    font-weight:300;
    background-color:#19820B;
    margin:0;
    padding:0;
}

nav#main-nav {
    display:inline-block;
    position:fixed;
    z-index:-1;
    background-color:#fff;
    text-align:right;
    width:100%;
}
nav#main-nav > ul > li {
    display:inline;
    list-style:none;
    padding:1em;
}


nav#main-nav > ul > li > a {
    color:#1ac056;
    text-decoration:none;
    font-weight:300;
}

a:hover {
    color:#291F1A;
}