body {
    font-family:lato,sans-serif;
    font-size:15px;
    color:#2C527F;
    font-weight:300;
    background-color:#222225;
    margin:0;
    padding:0;
}

span {
    color:#24AFCB;
    font-weight:600;
}
/* Nawigacja */

nav#main-nav {
    display:inline-block;
    position:fixed;
    z-index:1;
    background-color:#fff;
    opacity:0.8;
    text-align:right;
    width:100%;
}
nav#main-nav > ul > li {
    display:inline;
    list-style:none;
    padding:1em;
}


nav#main-nav > ul > li > a {
    color:#109ECB;
    text-decoration:none;
    font-weight:300;
}

nav#main-nav > ul > li > a:hover {
    color:#5BD4C6;
}

/* Header */

header#main-header {
    width:100%;
    height:40em;
    background-image:url(header-background.jpg);
    background-size:cover;
    background-position:center;
    margin:0;
    position:absolute;
}

header#main-header >div.main-header-content > h1 {
    font-family:roboto, sans-serif;
    padding:15vh 1vh 0 0;
    margin:0;
    text-align:center;
    color:white;
    font-size:4em;
    font-weight:100;
    z-index:-1;
}

h2 {
    font-family:lato, sans-serif;
    font-size:2em;
    font-weight:100;
    text-align:center;
    color:lightgray;
}

/* O mnie */
